# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
develop/
*.egg-info

# Local configuration
.env
.git-credentials
.DS_Store
.venv/*

# IDE files
.idea/
.vscode/